<h1>Ultracam alpha</h1>
processed images: {{processed}}<br>
skipped images: {{skipped}}<br>
avg skip diff ratio: {{diff_avg}}<br>
avg time: {{avg}}<br>
skip avg time: {{skip_avg}}<br>
total time: {{total}}<br>
stream resets: {{stream_resets}}<br>
framebuffer size: {{size}} kb<br>

{% for k, v in images.items() %}
<p>{{k}}: </p><br>
<img src="/snapshot/{{k}}" />
{% endfor %}